:root {
  --accent-color: #4985ff;
  --accent-second-color: #2956b1;
  --white-color-color: #ffffff;
  --first-title-color: #000000;
  --second-title-color: #323232;
  --first-text-color: #999999;
}

body {
  color: var(--first-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------page-header------------ */
.page-header {
  background-color: purple;
}

.nav-link {
  color: var(--white-color-color);
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
/* -----------hero---------- */
.hero {
  background-color: brown;
  text-align: center;
  padding-top: 219px;
  padding-bottom: 335px;
}

.hero-first-title {
  color: var(--white-color-color);

  margin-bottom: 20px;

  font-weight: 500;
}

.hero-second-title {
  color: var(--white-color-color);

  margin-bottom: 50px;

  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
}

.button {
  display: inline-block;
  color: var(--white-color-color);
  background-color: var(--accent-color);
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;

  padding: 13px 36px 15px;

  font-weight: 500;
}

.button:hover,
.button:focus {
  background-color: #2956b1;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

/* ------------project------------ */
.project {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 105px;
}

.project-title {
  color: var(--second-title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.project-text {
  margin-bottom: 70px;
}

.pretext {
  font-size: 14px;
  line-height: 1.57;
}

.text {
  line-height: 1.56;
}

.pretitle {
  color: var(--first-title-color);

  margin-bottom: 12px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
}

.project-list {
  margin-bottom: 55px;
}

/* features */
.features {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 90px;
}

.features-title {
  color: var(--second-title-color);

  margin-bottom: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}
/* Загальний клас */
.features-text {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
}

.features-image {
  color: #f6f6f8;
}

.features-wrapper-first {
  width: 489px;
  margin-top: 52px;
  margin-right: 121px;
}

.features-wrapper {
  display: flex;
  justify-content: center;
}

/* Загальний клас */
.features-link {
  color: var(--accent-color);

  font-weight: 500;
  text-decoration: underline;
}

.example-accent {
  color: var(--first-title-color);

  font-weight: normal;
  font-size: 36px;
  line-height: 1.47;
}

.example {
  padding-top: 70px;
  padding-bottom: 70px;
}
.example-text {
  font-weight: normal;
  line-height: 1.56;
}
/* ------------works------------ */
.works {
  padding-top: 100px;
  padding-bottom: 170px;

  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
}

.works-title {
  color: var(--white-color-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.works-accent {
  color: var(--accent-color);
}

/* ---------cases--------- */
.cases {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 130px;
  text-align: center;
}

.cases-title {
  color: var(--first-title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.cases .features-text {
  margin-bottom: 70px;
}

.cases-list {
  margin-bottom: 50px;
}
/* ---------media---------- */
.media {
  background-color: grey;
  padding-top: 70px;
  text-align: center;
}

.media-title {
  color: var(--white-color-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.media-text {
  color: var(--white-color-color);

  line-height: 1.56;
}

/* subscript */
.subscript {
  background-color: var(--white-color-color);
  padding-top: 85px;
  padding-bottom: 85px;
}
.subscript-main-text {
  color: var(--first-title-color);
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.subscript-second-text {
  line-height: 1.56;
  text-align: center;
  margin-bottom: 30px;
}

.subscript-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  text-align: center;
}

/* --------contacts-------- */
.contacts {
  background-color: #f6f6f8;
  padding-top: 70px;
  padding-bottom: 30px;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 35px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
}

.contacts-item {
  margin-bottom: 30px;
}
.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-link {
  color: currentColor;
  text-decoration: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-wrapper {
  margin: 0 auto;
  width: 1110px;
  padding-bottom: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.copyright {
  font-weight: 400;
  padding-top: 30px;
  font-size: 13px;
  line-height: 1.67;
  text-align: center;
}
